@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

code,
kbd,
samp,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:focus {
  outline: none;
}


/* main page */

.main-screen {
  padding: 0 8%;
  height: 100vh;
  background: url("./images/Background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-screen .main-div {
  height: 100%;
}
.main-screen .main-div .left-col {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.main-screen .main-div .right-col {
  width: 45%;
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.main-screen .main-div .left-col .border-div {
  width: 92%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgba(255,74,1,1) 0%, rgba(255,255,255,1) 54%, rgba(255,74,1,1) 100%);
  border-radius: 100px;
}

.main-screen .main-div .left-col .border-div .black-div {
  padding: 72px 80px;
  width: 98%;
  height: 98%;
  background: linear-gradient(207.06deg, rgba(76, 87, 103) -62.35%, rgba(34, 40, 49) 71.19%);
  border-radius: 100px;
}

.main-screen .main-div .left-col .border-div .black-div h1 {
  font-weight: 400;
  font-size: 70px;
  line-height: 1.2;
  color: #FFFFFF;
}

.main-screen .main-div .left-col .border-div .black-div p {
  margin-top:14px;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
}

.main-screen .main-div .left-col .border-div .black-div button.btn {
  padding: 18px 24px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: #FF4A01;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.main-screen .main-div .left-col .border-div .black-div button.btn img {
  margin-left: 8px;
}

/* modal */
.modal-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: hsl(0deg 0% 13% / 67%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-main .modal {
  background: white;
  padding: 28px 32px;
  border-radius: 20px;
  min-width: 35%;
}

.modal-main .modal h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.modal-main .modal .close-btn {
  width: 24px;
  float: right;
}

.modal-main .modal form.form {
  display: flex;
  flex-direction: column;
}

.modal-main .modal form.form label {
  margin-bottom: 10px;
}

.modal-main .modal form.form input {
  padding: 10px 16px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}
.modal-main .modal form.form input:hover, .modal-main .modal form.form input:focus {
  border: 1px solid grey;
}
/* Chrome, Safari, Edge, Opera */
.modal-main .modal form.form input:hover, .modal-main .modal form.form input::-webkit-outer-spin-button,
.modal-main .modal form.form input:hover, .modal-main .modal form.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.modal-main .modal form.form input:hover, .modal-main .modal form.form input[type=number] {
  -moz-appearance: textfield;
}

.modal-main .modal form.form button.btn {
  margin-top: 16px;
  padding: 14px 20px;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background: #FF4A01;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: fit-content;
}
.modal-main .modal form.form button.btn img {
  margin-left: 8px;
}
.modal-main .modal form.form button.btn:disabled {
  opacity: 0.6;
}


.error-chip {
  position: absolute;
  top: 32px;
  left: 50%;
  background: #d72121de;
  border: 1px solid #a80000;
  border-radius: 10px;
  transform: translate(-50%, 0%);
  padding: 8px 16px;
  color: white;
  font-size: 20px;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
}


/* mobile */
@media screen and (max-width: 767px) {
  .main-div {
    flex-direction: column;
  }
  .main-screen .main-div .left-col{
    width: 100%;
    height: 50%;
    align-items: flex-end;
  }
  .main-screen .main-div .right-col {
    width: 100%;
    height: 50%;
  }
  .main-screen .main-div .right-col img {
    height: 95%;
    object-fit: contain;
  }

  .main-screen .main-div .left-col .border-div {
    margin: 20px auto 0 auto;
    border-radius: 24px;
    height: 300px;
  }
  .main-screen .main-div .left-col .border-div .black-div {
    padding: 20px;
    border-radius: 24px;
  }
  .main-screen .main-div .left-col .border-div .black-div h1 {
    font-size: 36px;
  }
  .main-screen .main-div .left-col .border-div .black-div p {
    font-size: 20px;
    line-height: 30px;
  }
  .main-screen .main-div .left-col .border-div .black-div button.btn {
    padding: 14px 16px;
    width: fit-content;
  }

  .modal-main .modal {
    padding: 24px;
    width: 90%;
  }
  .error-chip {
    width: 51%;
  }

}